<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Favoritos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEFE931627554EC400A9FA1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFE932C27554EC500A9FA1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFE933627554EC500A9FA1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
